# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Production Build
client/dist/

# Environment Variables & Keys
.env
server/.env
client/.env
*.env.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System & IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
